name: test-gh-actions-with-vault

on:
  workflow_dispatch:
  push:
    branches:
      - test

# permissions:
#   id-token: write # This is required for requesting the JWT
#   contents: read  # This is required for actions/checkout
      


jobs:
  retrieve-secret:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Retrieve secret from Vault
        uses: hashicorp/vault-action@v2.4.0
        with:
          method: jwt
          url: http://18.169.237.111:8200
          role: myproject-production
          secrets: |
            secrets/data/production/app1 username | APP1;
            secrets/data/production/app2 username | APP2;
          
      - name: Use secret from Vault
        run: |
          echo $APP1 > myfile
          echo $APP2 >> myfile
          cat myfile
          echo "username is: $APP1"  
      # - name: Run tmate
      #   uses: mxschmitt/action-tmate@v2
